extends layout

 
block content

  body.has-fixed-sidenav
    header
      .navbar-fixed
        nav.navbar
          .nav-wrapper
            a.sidenav-trigger.left(href='#!', data-target='sidenav-left')
              i.material-icons.black-text menu
      ul#sidenav-left.sidenav.sidenav-fixed
        li
          a.logo-container(href='/').white-text
            | Money Tracker
            i.material-icons.left.white-text attach_money
        li.no-padding
          ul.collapsible.collapsible-accordion
            li.bold.waves-effect.active
              a.collapsible-header.white-text
                | Yatırım Araçları
                i.material-icons.chevron.white-text chevron_left
              .collapsible-body
                ul
                  li
                    a.waves-effect.active(href='/').white-text
                      | Döviz
                      i.material-icons.white-text money
                  li
                    a.waves-effect(href='/crypto').white-text
                      | KriptoPara
                      i.material-icons.white-text timeline
                  li
                    a.waves-effect(href='/stockmarket').white-text
                      | Borsa & Altın
                      i.material-icons.white-text swap_vert
            li.bold.waves-effect
              a.collapsible-header.white-text
                | Hesap İşlemleri
                i.material-icons.chevron.white-text chevron_left
              .collapsible-body
                ul
                  li
                    a.waves-effect(href='/login').white-text
                      | Giriş
                      i.material-icons.white-text person
                  li
                    a.waves-effect(href='/register').white-text
                      | Kayıt Ol
                      i.material-icons.white-text how_to_reg
    main
      .container
        .masonry.row
          .col.s12
            h2 KriptoPara Borsası
          .col.l3.m6.s12
            if btcChange > 0
                .card
                    .card-stacked
                        .card-metrics.card-metrics-static
                            .card-metric
                                .card-metric-title Bitcoin
                                .card-metric-value #{btcBuy}
                                .card-metric-change.increase
                                    i.material-icons.left keyboard_arrow_up
                                    |                 #{btcChange}
                    .card-chart
                        canvas#flush-area-chart-blue(height='100px')
            else
                .card
                    .card-stacked
                        .card-metrics.card-metrics-static
                            .card-metric
                                .card-metric-title Bitcoin
                                .card-metric-value #{btcBuy}
                                .card-metric-change.decrease
                                    i.material-icons.left keyboard_arrow_down
                                    |                 #{btcChange}
                    .card-chart
                        canvas#flush-area-chart-blue(height='100px')
          .col.l3.m6.s12
            if xrpChange > 0
                .card
                    .card-stacked
                        .card-metrics.card-metrics-static
                            .card-metric
                                .card-metric-title Ripple
                                .card-metric-value #{xrpBuy}
                                .card-metric-change.increase
                                    i.material-icons.left keyboard_arrow_up
                                    |                 #{xrpChange}
                    .card-chart
                        canvas#flush-area-chart-yellow(height='100px')
            else
                .card
                    .card-stacked
                        .card-metrics.card-metrics-static
                            .card-metric
                                .card-metric-title Ripple
                                .card-metric-value #{xrpBuy}
                                .card-metric-change.decrease
                                    i.material-icons.left keyboard_arrow_down
                                    |                 #{xrpChange}
                    .card-chart
                        canvas#flush-area-chart-yellow(height='100px')
          .col.l3.m6.s12
            if ethChange > 0
                .card
                    .card-stacked
                        .card-metrics.card-metrics-static
                            .card-metric
                                .card-metric-title Etherium
                                .card-metric-value #{ethBuy}
                                .card-metric-change.increase
                                    i.material-icons.left keyboard_arrow_up
                                    |                 #{ethChange}
                    .card-chart
                        canvas#flush-area-chart-green(height='100px')
            else
                .card
                    .card-stacked
                        .card-metrics.card-metrics-static
                            .card-metric
                                .card-metric-title Etherium
                                .card-metric-value #{ethBuy}
                                .card-metric-change.decrease
                                    i.material-icons.left keyboard_arrow_down
                                    |                 #{ethChange}
                    .card-chart
                        canvas#flush-area-chart-green(height='100px')
          .col.l3.m6.s12
            if ltcChange > 0
                .card
                    .card-stacked
                        .card-metrics.card-metrics-static
                            .card-metric
                                .card-metric-title LiteCoin
                                .card-metric-value #{ltcBuy}
                                .card-metric-change.increase
                                    i.material-icons.left keyboard_arrow_up
                                    |                 #{ltcChange}
                    .card-chart
                        canvas#flush-area-chart-pink(height='100px')
            else
                .card
                    .card-stacked
                        .card-metrics.card-metrics-static
                            .card-metric
                                .card-metric-title LiteCoin
                                .card-metric-value #{ltcBuy}
                                .card-metric-change.decrease
                                    i.material-icons.left keyboard_arrow_down
                                    |                 #{ltcChange}
                    .card-chart
                        canvas#flush-area-chart-pink(height='100px')
        .col.s12
            h2.section-title 
            .card
                table#table-custom-elements.row-border(cellspacing='0', width='100%')
                    thead
                        tr
                            th
                            th Adı
                            th Kodu
                            th Satış
                            th Değişim %
                            th Volume
                        tbody
                            each all in alls
                                tr
                                    td
                                    td= all.full_name
                                    td= all.symbol
                                    td= all.selling
                                    td= all.change_rate
                                    td= all.market_cap
    footer.page-footer
      .container
        .row
          .col.s6.m3
            h5 About
            ul
              li
                a(href='#!') Blog
              li
                a(href='#!') Pricing
              li
                a(href='#!') Docs
          .col.s6.m3
            h5 Connect
            ul
              li
                a(href='#!') Community
              li
                a(href='#!') Subscribe
              li
                a(href='#!') Email
          .col.s6.m3
            h5 Contact
            ul
              li
                a(href='#!') Twitter
              li
                a(href='#!') Facebook
              li
                a(href='#!') Github