extends layout

block content
  .container
    nav.blue.darken-4
      .nav-wrapper
        a(href='/') Money Track
        a.sidenav-trigger(href='#', data-target='mobile-demo')
          i.material-icons menu
        ul.right.hide-on-med-and-down
          li
            a(href='/') Döviz
          li
            a(href='/crypto') KriptoPara
          li
            a(href='collapsible.html') Borsa
          li
            a(href='mobile.html') Giriş
    ul#mobile-demo.sidenav
      li
        a(href='/') Döviz
      li
        a(href='/crypto') KriptoPara
      li
        a(href='collapsible.html') Borsa
      li
        a(href='mobile.html') Giriş
    .header
      h5 Money Track ile tüm yatırım araçlarını tek noktadan takip edin...
      a.waves-effect.waves-light.btn.blue.darken-4(href='#') Giriş
    .main
      .card1
            .card.pink.lighten-2
              .card-content.white-text
                span.card-title Bitcoin
                p
                  | Alış : #{btcBuy}$
                  | Volume : #{btcVolume}
                  | % #{btcChange}
                if btcChange > 0 
                  i.material-icons arrow_drop_up
                else 
                  i.material-icons arrow_drop_down
      .card2
            .card.indigo.darken-1
              .card-content.white-text
                span.card-title Ripple
                p
                  | Alış : #{xrpBuy}$
                  | Volume : #{xrpVolume}
                  | % #{xrpChange}
                if xrpChange > 0 
                  i.material-icons arrow_drop_up
                else 
                  i.material-icons arrow_drop_down
      .card3
            .card.cyan
              .card-content.white-text
                span.card-title Etherium
                p
                  | Alış : #{ethBuy}$
                  | Volume : #{ethVolume}
                  | % #{ethChange}
                if ethChange > 0 
                  i.material-icons arrow_drop_up
                else 
                  i.material-icons arrow_drop_down
      .card4
            .card.cyan
              .card-content.lime.lighten-1
                span.card-title LiteCoin
                p
                  | Alış : #{ltcBuy}$
                  | Volume : #{ltcVolume}
                  | % #{ltcChange}
                if ltcChange > 0 
                  i.material-icons arrow_drop_up
                else 
                  i.material-icons arrow_drop_down
    .tablo
      .tablo1
        table#currency.striped.blue-grey.lighten-1.mdl-data-table
          thead
            tr
              th Adı
              th Kodu
              th Satış
              th Değişim %
              th Volume
          tbody
            each all in alls
              tr
                td= all.full_name
                td= all.symbol
                td= all.selling
                td= all.change_rate
                td= all.market_cap
    .footer.blue.darken-4
      .footer-copyright
        | © 2018 
