extends layout

block content

  body.has-fixed-sidenav
    header
      .navbar-fixed
        nav.navbar.white
          .nav-wrapper
            a.sidenav-trigger.left(href='#!', data-target='sidenav-left')
              i.material-icons.black-text menu
      ul#sidenav-left.sidenav.sidenav-fixed
        li
          a.logo-container(href='/')
            | Money Tracker
            i.material-icons.left attach_money
        li.no-padding
          ul.collapsible.collapsible-accordion
            li.bold.waves-effect.active
              a.collapsible-header
                | Yatırım Araçları
                i.material-icons.chevron chevron_left
              .collapsible-body
                ul
                  li
                    a.waves-effect.active(href='/')
                      | Döviz
                      i.material-icons money
                  li
                    a.waves-effect(href='/crypto')
                      | KriptoPara
                      i.material-icons timeline
                  li
                    a.waves-effect(href='/stockmarket')
                      | Borsa & Altın
                      i.material-icons swap_vert
            li.bold.waves-effect
              a.collapsible-header
                | Hesap İşlemleri
                i.material-icons.chevron chevron_left
              .collapsible-body
                ul
                  li
                    a.waves-effect(href='/login')
                      | Giriş
                      i.material-icons person
                  li
                    a.waves-effect(href='/register')
                      | Kayıt Ol
                      i.material-icons how_to_reg
    main
      .container
        .masonry.row
          .col.s12
            h2 Döviz Bilgileri
          .col.l3.m6.s12
            if usdChange > 0
                .card
                    .card-stacked
                        .card-metrics.card-metrics-static
                            .card-metric
                                .card-metric-title Amerikan Doları
                                .card-metric-value #{usdBuy}
                                .card-metric-change.increase
                                    i.material-icons.left keyboard_arrow_up
                                    |                 #{usdChange}
                    .card-chart
                        canvas#flush-area-chart-blue(height='100px')
            else
                .card
                    .card-stacked
                        .card-metrics.card-metrics-static
                            .card-metric
                                .card-metric-title Amerikan Doları
                                .card-metric-value #{usdBuy}
                                .card-metric-change.decrease
                                    i.material-icons.left keyboard_arrow_down
                                    |                 #{usdChange}
                    .card-chart
                        canvas#flush-area-chart-blue(height='100px')
          .col.l3.m6.s12
            if eurChange > 0
                .card
                    .card-stacked
                        .card-metrics.card-metrics-static
                            .card-metric
                                .card-metric-title Euro
                                .card-metric-value #{eurBuy}
                                .card-metric-change.increase
                                    i.material-icons.left keyboard_arrow_up
                                    |                 #{eurChange}
                    .card-chart
                        canvas#flush-area-chart-yellow(height='100px')
            else
                .card
                    .card-stacked
                        .card-metrics.card-metrics-static
                            .card-metric
                                .card-metric-title Euro
                                .card-metric-value #{eurBuy}
                                .card-metric-change.decrease
                                    i.material-icons.left keyboard_arrow_down
                                    |                 #{eurChange}
                    .card-chart
                        canvas#flush-area-chart-yellow(height='100px')
          .col.l3.m6.s12
            if eurChange > 0
                .card
                    .card-stacked
                        .card-metrics.card-metrics-static
                            .card-metric
                                .card-metric-title İngiliz Sterlini
                                .card-metric-value #{gbpBuy}
                                .card-metric-change.increase
                                    i.material-icons.left keyboard_arrow_up
                                    |                 #{gbpChange}
                    .card-chart
                        canvas#flush-area-chart-green(height='100px')
            else
                .card
                    .card-stacked
                        .card-metrics.card-metrics-static
                            .card-metric
                                .card-metric-title İngiliz Sterlini
                                .card-metric-value #{gbpBuy}
                                .card-metric-change.decrease
                                    i.material-icons.left keyboard_arrow_down
                                    |                 #{gbpChange}
                    .card-chart
                        canvas#flush-area-chart-green(height='100px')
          .col.l3.m6.s12
            .card
              .card-stacked
                .card-metrics.card-metrics-static
                  .card-metric
                    .card-metric-title EUR / USD
                    .card-metric-value #{eurUsd}
                    .card-metric-title GBP / USD #{gbpUsd}
              .card-chart
                canvas#flush-area-chart-pink(height='100')
        .col.s12
            h2.section-title 
            .card
                table#table-custom-elements.row-border(cellspacing='0', width='100%')
                    thead
                        tr
                            th
                            th Adı
                            th Kodu
                            th Satış
                            th Değişim %
                        tbody
                            each all in alls
                                tr
                                    td
                                    td= all.full_name
                                    td= all.code
                                    td= all.selling
                                    td= all.change_rate
    footer.page-footer
      .container
        .row
          .col.s6.m3
            h5 About
            ul
              li
                a(href='#!') Blog
              li
                a(href='#!') Pricing
              li
                a(href='#!') Docs
          .col.s6.m3
            h5 Connect
            ul
              li
                a(href='#!') Community
              li
                a(href='#!') Subscribe
              li
                a(href='#!') Email
          .col.s6.m3
            h5 Contact
            ul
              li
                a(href='#!') Twitter
              li
                a(href='#!') Facebook
              li
                a(href='#!') Github

