extends layout

block content
  .container
    include navbar.pug
    .main
      .card1
            .card.pink.lighten-2
              .card-content.white-text
                span.card-title BIST 100
                p
                  | Index : #{x100s.latest}
                  | 1. Seans Kapanış : #{x100s.first_seance_closing} 
                  | 2. Seans Kapanış : #{x100s.first_seance_closing}
                  | % #{x100Change}
                if x100Change > 0 
                  i.material-icons arrow_drop_up
                else 
                  i.material-icons arrow_drop_down
      .card2
            .card.indigo.darken-1
              .card-content.white-text
                span.card-title BIST 50
                p
                  | Index : #{x50s.latest}
                  | 1. Seans Kapanış : #{x50s.first_seance_closing} 
                  | 2. Seans Kapanış : #{x50s.first_seance_closing}
                  | % #{x50Change}
                if x50Change > 0 
                  i.material-icons arrow_drop_up
                else 
                  i.material-icons arrow_drop_down
      .card3
            .card.cyan
              .card-content.white-text
                span.card-title BIST 30
                p
                  | Index : #{x30s.latest}
                  | 1. Seans Kapanış : #{x30s.first_seance_closing} 
                  | 2. Seans Kapanış : #{x30s.first_seance_closing}
                  | % #{x30Change}
                if x30Change > 0 
                  i.material-icons arrow_drop_up
                else 
                  i.material-icons arrow_drop_down
    //-   .card4
    //-         .card.cyan
    //-           .card-content.lime.lighten-1
    //-             span.card-title LiteCoin
    //-             p
    //-               | Alış : #{ltcBuy}
    //-               | Volume : #{ltcVolume}
    //-               | % #{ltcChange}
    //-             if ltcChange > 0 
    //-               i.material-icons arrow_drop_up
    //-             else 
    //-               i.material-icons arrow_drop_down
    .tablo
      .tablo1
        table#currency.striped.blue-grey.lighten-1.mdl-data-table
          thead
            tr
              th Adı
              th Satış
              th Değişim %
          tbody
            each gold in golds
              tr
                td= gold.full_name
                td= gold.selling
                td= gold.change_rate

    .footer.blue.darken-4
      .footer-copyright
        | © 2018 
